$main-color: #00a866;
$main-color-alpha: rgba(0, 168, 102, 0.6);
$secondary-color: #65ba5b;
$third-color: #c2d776;
$fourth-color: #fff5a7;
$light-color: #ffffd0;

$btn-color: #a80042;
$btn-color-dark: #7c0132;

$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;

$green-gradient: linear-gradient(45deg, rgba(17, 138, 90), rgba(58, 106, 53));
$green-blue-gradient: linear-gradient(
	45deg,
	rgb(32, 191, 85),
	rgb(1, 186, 239)
);
$light-blue-gradient-solid: radial-gradient(
	circle at top right,
	rgb(0, 78, 255) 0%,
	rgb(0, 212, 255) 100%
);

$hero-gradient: linear-gradient(
	0deg,
	rgba(0, 168, 102, 0.75),
	rgba(0, 0, 0, 0.75)
);
$hero-gradient-dark: linear-gradient(
	0deg,
	rgba(10, 86, 56, 0.867),
	rgba(0, 0, 0, 0.75)
);
