$main-color: #00a866;
$secondary-color: #65ba5b;
$third-color: #c2d776;
$fourth-color: #fff5a7;
$light-color: #ffffd0;

$btn-color: #a80042;
$btn-color-dark: #7c0132;

$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;

$green-gradient: linear-gradient(45deg, rgb(0, 168, 102), rgb(101, 186, 91));

$hero-gradient: linear-gradient(
	0deg,
	rgba(0, 168, 102, 0.75),
	rgba(0, 0, 0, 0.75)
);
