.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

// Shape Divider Bottom
.custom-shape-divider-bottom-1676068184 {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-bottom-1676068184 svg {
	position: relative;
	display: block;
	width: calc(118% + 1.3px);
	// height: 116px;
	height: 50px;
}

.custom-shape-divider-bottom-1676068184 .shape-fill {
	fill: #ffffff;
}

// Shape Divider Top
.custom-shape-divider-top-1676068554 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1676068554 svg {
	position: relative;
	display: block;
	width: calc(118% + 1.3px);
	height: 116px;
}

.custom-shape-divider-top-1676068554 .shape-fill {
	fill: #ffffff;
}

// MEDIA QUERIES
@media (min-width: 576px) {
	.custom-shape-divider-bottom-1676068184 svg {
		height: 150px;
	}
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1100px) {
}
@media (min-width: 1200px) {
	.custom-shape-divider-bottom-1676068184 svg {
		height: 200px;
	}
}
@media (min-width: 1400px) {
}
