@use './colors' as clr;

.wrapper {
	margin: 0 auto;
	padding: 0 2em;
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-headline {
	padding-top: 2em;
	margin-bottom: 1em;
	font-size: 2.4rem;
	text-align: center;
	color: clr.$main-color;
	color: clr.$main-color;
}

.link-btn {
	padding: 0.5em 1em;
	font-size: 1.6rem;
	color: clr.$light-color;
	background-color: clr.$btn-color;
	border: 1px solid transparent;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	transition: background-color 0.5s, box-shadow 0.5s;
	cursor: pointer;

	&:hover {
		background-color: clr.$main-color;
		box-shadow: 0 0 10px clr.$secondary-color;
	}
}

// Shape Divider Bottom
.custom-shape-divider-bottom-1676068184 {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-bottom-1676068184 svg {
	position: relative;
	display: block;
	width: calc(118% + 1.3px);
	// height: 116px;
	height: 50px;
}

.custom-shape-divider-bottom-1676068184 .shape-fill {
	fill: #ffffff;
}

// Shape Divider Top
.custom-shape-divider-top-1676068554 {
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1676068554 svg {
	position: relative;
	display: block;
	width: calc(118% + 1.3px);
	height: 50px;
}

.custom-shape-divider-top-1676068554 .shape-fill {
	fill: #ffffff;
}

// MEDIA QUERIES
@media (min-width: 576px) {
	.custom-shape-divider-bottom-1676068184 svg,
	.custom-shape-divider-top-1676068554 svg {
		height: 150px;
	}
}
@media (min-width: 768px) {
	.section-headline {
		padding-top: 0;
		font-size: 3rem;
	}
}
@media (min-width: 992px) {
}
@media (min-width: 1100px) {
}
@media (min-width: 1200px) {
	.custom-shape-divider-bottom-1676068184 svg,
	.custom-shape-divider-top-1676068554 svg {
		height: 200px;
	}
}
@media (min-width: 1400px) {
}
