// Fonts downladed from Google Fonts
// font-family: 'Roboto', sans-serif;
// font-family: 'Montserrat', sans-serif;
// =======================================

// Linked .scss files
@use './colors' as clr;
@use './components';
@use './mixins' as m;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	// żeby nam się strona płynnie przesuwała
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
}

// NAV
.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1000;

	button {
		width: 50px;
		height: 50px;
		background-color: transparent;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		outline: 1px solid transpar ent;
		transition: 0.3s;

		i {
			font-size: 3rem;
			color: clr.$light-color;
		}

		&:hover {
			// background-color: clr.$main-color;
			border: 1px solid clr.$light-color;
		}

		&:focus {
			border: 1px solid clr.$light-color;
		}
	}
}

.nav {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	transform: translateX(100%);
	background-image: clr.$green-gradient;
	transition: transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	z-index: 10;

	&__list {
		display: flex;
		flex-direction: column;
		list-style: none;
	}

	&__list-item {
		position: relative;
		padding: 0.5em;
		margin: 0 1em;
		font-size: 3rem;
		font-weight: normal;
		text-decoration: none;
		color: clr.$light-color;
		transition: 0.5s;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 3px;
			background-color: clr.$light-color;
			transform: scaleY(0);
			transition: transform 0.5s;
			transform-origin: bottom;
		}
	}

	&__list-item:hover::before {
		transform: scaleY(1);
		transform-origin: top;
	}

	&--active {
		transform: translateX(0%);
	}
}
