// Fonts downladed from Google Fonts
// font-family: 'Roboto', sans-serif;
// font-family: 'Montserrat', sans-serif;
// =======================================

// Linked .scss files
@use './colors' as clr;
@use './components';
@use './mixins' as m;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	// żeby nam się strona płynnie przesuwała
	scroll-behavior: smooth;
}

body,
button,
input,
textarea {
	font-family: 'Montserrat', sans-serif;
}

section,
main {
	position: relative;
}

p {
	font-size: 1.6rem;
}

// NAV
.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1000;

	button {
		width: 50px;
		height: 50px;
		padding: 0;
		background-color: clr.$main-color-alpha;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		outline: 1px solid transparent;
		transition: 0.3s;

		i {
			font-size: 3rem;
			color: clr.$light-color;
		}

		&:hover {
			// background-color: clr.$main-color;
			border: 1px solid clr.$light-color;
		}

		&:focus {
			border: 1px solid clr.$light-color;
		}
	}
}

.nav {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	transform: translateX(100%);
	background-image: clr.$green-gradient;
	transition: transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	z-index: 900;

	&__list {
		display: flex;
		flex-direction: column;
		list-style: none;
	}

	&__list-item {
		position: relative;
		padding: 0.5em;
		margin: 0 1em;
		font-size: 3rem;
		font-weight: normal;
		text-decoration: none;
		color: clr.$light-color;
		transition: 0.5s;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 3px;
			background-color: clr.$light-color;
			transform: scaleY(0);
			transition: transform 0.5s;
			transform-origin: bottom;
		}
	}

	&__list-item:hover::before {
		transform: scaleY(1);
		transform-origin: top;
	}

	&--active {
		transform: translateX(0%);
	}
}

// HEADER
.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 75vh;
	padding: 0 1em;
	background-image: clr.$hero-gradient, url('../img/header_small.jpg');
	color: clr.$light-color;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	h1 {
		font-size: 3rem;
		text-align: center;
		margin-bottom: 0.1em;
	}

	p {
		width: 80%;
		text-align: center;
		font-size: 1.6rem;
		font-weight: 400;
		margin-bottom: 5%;
	}
}

// ABOUT
.about {
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.about__description {
			display: flex;
			flex-direction: column;
			font-size: 1.6rem;
			line-height: 1.5;

			p {
				margin-bottom: 1em;
			}

			.link-btn {
				align-self: center;
			}
		}

		.about__image {
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				align-items: center;
				height: 500px;
				// width: 100%;
				// max-width: 420px;
				// max-height: 560px;
			}
		}
	}
}

// BENEFITS
.benefits {
	// display: flex;
	// justify-content: center;
	// align-items: center;
	position: relative;
	width: 100%;
	// Padding top-bottom have to varies with svg height
	background-image: clr.$hero-gradient-dark, url('../img/benefits.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	.section-headline {
		color: clr.$light-color;
	}

	.benefits__box {
		display: flex;
		flex-direction: column-reverse;
		margin: 1em 0;
		width: 100%;
		background-color: clr.$light-color;
		border-radius: 8px;
		overflow: hidden;
		.benefits__box-description {
			height: 50%;
			padding: 1em;
			background-color: clr.$light-color;
			z-index: 1;

			.benefits__box-title {
				font-size: 2rem;
			}

			p {
				margin-top: 0.5em;
				font-size: 1.6rem;
			}
		}

		.benefits__box-photo {
			height: 50%;
			img {
				width: 100%;
				transition: transform 0.5s;

				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}

// DIETS
.diets {
	padding-top: 5em;
	&__box {
		position: relative;
		height: 500px;
		width: 100%;
		margin: 1em;
		border-radius: 8px;
		perspective: 1000px;
		transition: 0.5s;
		z-index: 300;

		&:hover {
			.diets__box-img {
				opacity: 0;
				transform: rotateY(180deg);
				z-index: 0;
			}

			.diets__box-info {
				opacity: 1;
				transform: rotateY(0);
				z-index: 10;
			}
		}
	}

	&__box-img {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		padding: 2em;

		background-size: cover;
		background-position: center;
		border-radius: 8px;
		transition: 0.5s;
		z-index: 10;

		p {
			align-self: flex-end;
			font-size: 1.6rem;
			color: clr.$light-color;
		}

		&--first {
			background-image: clr.$hero-gradient, url(../img/diets1.jpg);
		}

		&--second {
			background-image: clr.$hero-gradient, url(../img/diets2.jpg);
		}

		&--third {
			background-image: clr.$hero-gradient, url(../img/diets3.jpg);
		}
	}

	&__box-info {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 2em;
		border-radius: 8px;
		background-image: clr.$light-blue-gradient-solid;
		opacity: 1;
		transform: rotateY(-180deg);
		transition: 0.5s;
		z-index: -5;

		.link-btn {
			align-self: center;

			&:hover {
				background-color: #0016ff;
			}
		}
	}

	&__box-list {
		width: 100%;
		text-align: center;
		color: clr.$fourth-color;
		width: 80%;
		list-style: none;

		&-item {
			font-size: 1.6rem;
			padding: 1em;
			border-bottom: 1px solid clr.$fourth-color;

			&:last-child {
				border-bottom: 1px solid transparent;
			}
		}
	}

	&__box-title {
		text-align: center;
		font-size: 2rem;
		color: clr.$light-color;
		padding: 0.5em 0;
	}
}

// REVIEWS
.reviews {
	background-image: clr.$hero-gradient-dark, url('../img/review_small.jpg');
	background-position: center;
	background-size: cover;
	// background-attachment: fixed;

	.section-headline {
		color: clr.$light-color;
	}

	&__boxes {
		width: 100%;
	}

	&__box {
		position: relative;
		width: 100%;
		margin: 1em 0;
		padding: 50px 1em 1em;

		.reviews__box-description {
			position: relative;
			padding: calc(45px + 1em) 1em 1em 1em;
			// width: 100%;
			min-height: 100px;
			background-color: clr.$light-color;

			p {
				font-size: 1.6rem;
				color: clr.$main-color;
				margin-bottom: 0.5em;
			}

			strong {
				font-size: 1.6rem;
				color: clr.$main-color;
			}

			.fa-quote-left,
			.fa-quote-right {
				position: absolute;
				transform: translate(-50%, -50%);
				top: 25px;
				font-size: 3rem;
				color: clr.$main-color;
			}

			.fa-quote-left {
				left: 15%;
			}
			.fa-quote-right {
				left: 85%;
			}
		}

		&-img {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			width: 90px;
			height: 90px;

			background-size: cover;
			background-position: center;
			border: 3px solid clr.$light-color;
			border-radius: 50%;

			&--first {
				background-image: url(../img/reviews1.jpg);
			}

			&--second {
				background-image: url(../img/reviews2.jpg);
			}

			&--third {
				background-image: url(../img/reviews3.jpg);
			}

			// img {
			// 	position: absolute;
			// 	top: 0;
			// 	left: 50%;
			// 	width: 100%;
			// 	height: 100%;
			// 	border-radius: 50%;
			// }
		}
	}
}

// CONTACT
.contact {
	&__form {
		display: flex;
		flex-direction: column;
		width: 100%;
		&-label {
			width: 100%;
			font-size: 1.6rem;
		}

		&-input {
			margin-bottom: 1em;
			padding: 0.5em;
			width: 100%;
			border-radius: 8px;
			border: 1px solid black;
		}

		&-textarea {
			margin-bottom: 1em;
			padding: 0.5em;
			width: 100%;
			border-radius: 8px;
			border: 1px solid black;
			resize: vertical;
		}

		.link-btn {
			align-self: flex-end;
		}
	}

	p {
		width: 80%;
		font-size: 1.6rem;
		text-align: center;
		margin-bottom: 1em;
	}
}

// FOOTER
.footer {
	position: relative;
	padding-bottom: 0;
	background-color: clr.$dark;
	color: clr.$light-white;

	&__boxes {
		display: flex;
		justify-content: space-between;
		align-items: start;
		flex-direction: column;
		gap: 2em;
	}

	&__box {
		display: flex;
		flex-direction: column;
		margin-bottom: 2em;
		width: 100%;

		h1 {
			text-transform: uppercase;
			text-align: center;
			margin: 1em;
		}

		&-link {
			display: inline-block;
			padding: 0.5em;
			text-decoration: none;
			text-align: center;
			line-height: 1.7;
			color: clr.$light-white;
			font-size: 1.4rem;

			span {
				padding: 0.3em 0.6em;
				background-color: clr.$main-color;
				transition: background-color 0.3s, color 0.3s;

				&:hover {
					background-color: clr.$light-white;
					color: clr.$dark;
				}
			}
		}

		&-map {
			width: 100%;
			height: 300px;
		}
	}

	&__box-desktop {
		display: none;
	}

	&__box-contact {
		align-self: center;
		margin-top: 1em;

		&-item {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 0.7em;

			.item-name {
				width: 100px;
				font-weight: 700;

				i {
					padding-right: 0.5em;
				}
			}
		}
	}

	&__bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 1em;

		&-links {
			display: none;
		}
	}
}

// ========================
// MEDIA QUERIES
@media (min-width: 576px) {
	.header {
		h1 {
			font-size: 4rem;
		}

		p {
			font-size: 2rem;
		}
	}

	.about {
		.wrapper {
			.about__description {
				font-size: 2rem;
			}
		}
	}
}
@media (min-width: 768px) {
	.header {
		h1 {
			font-size: 5rem;
		}

		p {
			font-size: 2.4rem;
		}
	}

	.nav {
		&__list-item {
			font-size: 4rem;
		}
	}

	.about {
		.wrapper {
			flex-direction: row;
			align-content: flex-start;

			.about__description {
				width: 50%;
				font-size: 2rem;
			}
		}
	}

	.benefits {
		.wrapper {
			.benefits__box {
				flex-direction: row;
				width: 100%;
				height: 300px;

				&:nth-child(2n) {
					flex-direction: row-reverse;
				}

				.benefits__box-description {
					display: flex;
					flex-direction: column;
					width: 50%;
					height: 100%;
					padding: 2em;
					.benefits__box-title {
						font-size: 3rem;
					}

					p {
						font-size: 1.8rem;
					}
				}

				.benefits__box-photo {
					display: flex;
					height: 100%;
					width: 50%;
					img {
						height: 100%;
					}
				}
			}
		}
	}

	.diets {
		.wrapper {
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__box {
			width: 45%;
		}
	}

	.reviews {
		&__box {
			.reviews__box-description {
				padding-left: 2em;
				padding-right: 2em;
				padding-bottom: 2em;
				p {
					font-size: 1.8rem;
				}

				strong {
					font-size: 2rem;
				}
			}
		}
	}

	.contact {
		&__form {
			width: 80%;
		}
	}

	.footer {
		&__box-desktop {
			display: flex;
		}

		&__bottom {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			// padding: 1em;

			&-links {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;

				a {
					margin: 0 auto;
					padding: 0.5em 1em 0;
					color: clr.$light-white;
					text-decoration: none;
					text-transform: uppercase;
					transition: color 0.3s;

					&:hover {
						color: clr.$main-color;
					}
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.benefits {
		.wrapper {
			.benefits__box {
				width: 80%;
			}
		}
	}

	.diets {
		.wrapper {
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__box {
			width: 30%;
		}
	}
}
@media (min-width: 1100px) {
	.header {
		background-image: clr.$hero-gradient, url('../img/header_large.jpg');
	}

	.footer {
		&__boxes {
			display: flex;
			flex-direction: row;
		}
	}
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
