// Fonts downladed from Google Fonts
// font-family: 'Roboto', sans-serif;
// font-family: 'Montserrat', sans-serif;
// =======================================

// Linked .scss files
@use './colors' as clr;
@use './components';
@use './mixins' as m;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	// żeby nam się strona płynnie przesuwała
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
}

// NAV
.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1000;

	button {
		width: 50px;
		height: 50px;
		background-color: transparent;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		outline: 1px solid transparent;
		transition: 0.3s;

		i {
			font-size: 3rem;
			color: clr.$light-color;
		}

		&:hover {
			// background-color: clr.$main-color;
			border: 1px solid clr.$light-color;
		}

		&:focus {
			border: 1px solid clr.$light-color;
		}
	}
}